/* Colors
  yellow #EFE375
  dark green #152C07
  cream #EFE9CC
*/



body {
  margin: 0;
  font-family: 'Sunshiney', cursive;
}

.landingPage{
  background-color: #000;
  height: 1500px;
}
.firstSection{
  opacity: .5;
  position: absolute; 
  width: 100%;
  left: 0;
  top: -115px;
}

.landingHeader{
  position: absolute;
  width: 337px;
  height: 92.91px;
  left: 69px;
  top: -4.56px;

  font-size: 100px;
  line-height: 106px;

  color: #EFE375;

}
.landingHeaderLinks{
  position: absolute;
  width: 416px;
  height: 61px;
  left: 940px;
  top: 38px;
  
  font-family: Sunshiney;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  
  color: #EFE375;
    
}